.card:hover{
    transition: transform 0.6s;
}

.card-columns {
  column-count: 2;
}
.card:hover{
  img{
    opacity: .7;
  };
  transform: rotateY(-3deg);
  transition: .5s;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

.ingredient{
  background-image: url("../../../assets/images/png/ingredient.png");
  background-repeat: no-repeat;
  background-position: center;
}

.ingredients{
    background-image: url("../../../assets/images/png/new-ingredients.jpg");
    background-repeat: no-repeat;
    background-position: center;
  background-size: 100%;
}
.recipe{
    background-image: url("../../../assets/images/png/new-recipes.jpg");
    background-repeat: no-repeat;
    background-position: center;
  background-size: 100%;
}  
.recipes{
    background-image: url("../../../assets/images/png/recipes.png");
    background-repeat: no-repeat;
    background-position: center;
}
.vegan{
    background-image: url("../../../assets/images/png/vegan.png");
    background-repeat: no-repeat;
    background-position: center;
}
.card-footer > a{
  margin-right:5px;
}