# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea
miam.iml
.project
.classpath
.vscode
.settings/
.sublime-workspace

# dependencies
.gradle
node_modules

# compiled output
build
bin
dist
    # FRONTEND
tmp
out-tsc
    # BACKEND
target

# logs
*.log
