.grocery-list-component-container > fa-icon{
  color : grey;
  cursor: pointer
}


.grocery-list-component-container > .grocery-list-cart-popup{
  position: absolute;
  top: 7em;
  right: 1em;
  background: white;
  border: black 1px solid;
  border-radius: 4px;
  padding: 10px;
}