<div class="row">
  <div class="col">
    <div class="d-inline-block dropdown-menu-right" display="dynamic" ngbDropdown>
      <div ngbDropdownToggle *ngIf="!loginService.isUserLoggedIn()">
        <fa-icon [icon]="faUser" size="2x" style="color:gray;cursor:pointer"></fa-icon>
        <span class="ml-2" style="font-weight:bold;position: relative;top:-4px">Connexion</span>
      </div>
      <div aria-labelledby="navbarDropdownForm" ngbDropdownMenu *ngIf="!loginService.isUserLoggedIn()">
        <form class="px-4 py-3" (ngSubmit)="checkLogin()">
          <div class="form-group">
            <label for="navbarDropdownFormEmail">Email</label>
            <input autocomplete="email" class="form-control" id="navbarDropdownFormEmail"
              placeholder="email@exemple.com" type="email" [(ngModel)]="credentials.email" name="email">
          </div>
          <div class="form-group">
            <label for="navbarDropdownFormPassword">Mot de passe</label>
            <input autocomplete="password" class="form-control" id="navbarDropdownFormPassword"
              placeholder="Mot de passe" type="password" [(ngModel)]="credentials.password" name="password">
          </div>
          <div class="form-check">
            <input class="form-check-input" id="dropdownCheck" type="checkbox">
            <label class="form-check-label" for="dropdownCheck">
              Se souvenir de moi
            </label>
          </div>
          <button class="btn btn-primary" type="submit">Connexion</button>
        </form>
        <div class="dropdown-divider"></div>
        <button (click)="register()" ngbDropdownItem>Nouveau dans le coin? Inscription</button>
        <button ngbDropdownItem>Mot de passe oublié?</button>
      </div>
      <div *ngIf="loginService.isUserLoggedIn()">
        <a (click)="logOut()">
          <fa-icon [icon]="faUser" size="2x" style="color:gray;cursor:pointer"></fa-icon>
          <span class="ml-2" style="font-weight:bold;position: relative;top:-4px">Déconnexion</span>
        </a>
      </div>
    </div>
  </div>
</div>
