<div style="border:1px solid transparent">
    <div>
        <h3 class="title-page">Créer un ingrédient</h3>
    </div>

    <div style="border: 1px solid rgba(0,0,0,.2);min-height:100px; margin-top:20px;background-color:white">
        <form #formIngredient="ngForm" (ngSubmit)="onSubmit(formIngredient)">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-10 offset-md-2 text-right">
                    <fa-icon [icon]="faAddressCard" size="1x" style="color:#0a2735"></fa-icon>
                    <a routerLink="/list-ingredients" style="text-decoration: underline;color:#263238">
                        <span>Afficher la liste des ingrédients</span>
                    </a>
                </div>
            </div>
            <div class="row" style="padding: 20px">
                <label for="name" class="col-xs-12 col-sm-4 col-form-label">Nom ingrédient*</label>
                <div class="col-xs-12 col-sm-8">
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            [(ngModel)]="ingredient.name"
                            placeholder="Saisir nom de l'ingrédient"
                            [fieldEmptyValidator]="'Le champs ingrédient ne peut etre vide.'"
                            [ngClass]="{'has-errors-input': name.invalid && (name.dirty || name.touched)}"
                            #name="ngModel"
                    >
                    <error-input
                            [control]="name.control"
                            [type]="'ERROR'"
                    >
                    </error-input>
                </div>
            </div>

            <div class="row" style="padding: 20px">
                <label for="name" class="col-xs-12 col-sm-4 col-form-label">Image</label>
                <div class="col-xs-12 col-sm-8">
                    <input class="form-control" id="image" name="image" type="file" (change)="onFileUpload($event)"
                           accept="image/png">
                    <div class="error-messages" *ngIf="hasErrors">
                        <span class="alert-error">{{ error }}
                        </span>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row" style="padding: 20px;">
                <div class="col-sm-10 offset-md-2 text-right">
                    <button type="reset" class="btn btn-secondary">Réinitialiser</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Créer un nouveau ingrédient</button>
                </div>
            </div>
        </form>
    </div>
</div>