
<div style="border:1px solid transparent">
   <div>
       <h3 class="title-page">Liste des ingrédients</h3>
   </div>
   <div class="row">
       <div class="col-md-6"></div>
       <div class="col-md-6 text-right">
           <div style="cursor: pointer" (click)="openModalIngredient()">
               <fa-icon [icon]="faAddressCard" size="1x" style="color:#0a2735"></fa-icon>
               <span style="text-decoration: underline;">&nbsp;&nbsp;Ajouter un ingrédient</span>
           </div>
       </div>
   </div>
   <div class="delete-error" *ngIf="isUsed"> {{messageError}} </div>
    <table class="table" style="background: white; text-align: center;margin-top:15px">
        <thead>
        <tr style=" text-align: center; color:  #0a2735;border: 0;text-transform: uppercase;">
          <th>Image</th>
          <th>Nom ingredient</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td>
            <img [src]="ingredient.image" class="mr-2" style="width: 32px; height: 32px;">
          </td>
          <td>{{ingredient.name}}</td>
          <td>
              <button type="button" class="btn btn-primary" (click)=deleteById(ingredient.id,ingredient.name)>Supprimer</button>
              <button type="button" class="btn btn-success ml-2" (click)=addIngredient(ingredient)>Ajouter au panier</button>
          </td>
        </tr>
        </tbody>
      </table>

</div>

<ng-template #ingredientForm>
    <app-ingredient-form></app-ingredient-form>
</ng-template>

<ng-template #addIngredientTemplate>
  <div class="row">
      <label for="ingredientQuantity"  class="col-md-9 col-xs-9 col-form-label">Nombre de personne(s)*: </label>
      <div  class="col-md-3 col-xs-3">
          <input [(ngModel)]="quantity" type="number" name="ingredientToAddQuantity" class="form-control" id="ingredientQuantity">
      </div>
  </div>
  <hr/>
  <div class="row" style="padding: 5px;">
      <div class="col-sm-10 offset-md-2 text-right">
          <button type="button" (click)="submit()" class="btn btn-primary">Confirmer l'ajout au panier</button>
      </div>
  </div>
</ng-template>