<div class="container">
    <form>
        <div class="form-group">
            <label for="user-email">Nom de l'utilisateur:</label>
            <input
                    [(ngModel)]="user.name"
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    required
                    placeholder="nom de l'utilisateur"
                    pattern = "^[A-Za-z]+(\s+[-]+[A-Za-z]+){0,2}$"
            >
            
            <label for="user-email">Adresse email:</label>
            <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="user.email"
                    name="email"
                    id="user-email"
                    required
                    placeholder="adresse email"
            >

            <label for="user-password">Mot de passe:</label>
            <input
                    type="password"
                    class="form-control"
                    minlength="6" maxlength="24"
                    [(ngModel)]="user.password1"
                    name="password"
                    id="user-password1"
            >
            <label for="user-password">Confirmer le mot de passe: </label>
            <input
                    type="password"
                    class="form-control"
                    minlength="6" maxlength="24"
                    [(ngModel)]="user.password2"
                    (ngModelChange)="validatePassword(user.password1, user.password2)"
                    name="password"
                    id="user-password2"
            >
        </div>
        <a href="#">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
        </a>
        
        <!-- <a routerLink="/list-ingredients" class="btn btn-secondary mx-2">Se Connecter</a> -->
    </form>
</div>
