<div class="container">
        <form #formRegistration="ngForm" (ngSubmit)="onSubmit(formRegistration)">
                <div class="form-group">
                        <label for="name">Nom d'utilisateur</label>
                        <input 
                                type="text"
                                class="form-control"
                                id="name" 
                                name="name" 
                                [(ngModel)]="user.name" 
                                placeholder="Nom de l'utilisateur" 
                                pattern="^[A-Za-z]+(\s+[-]+[A-Za-z]+){0,2}$"
                                required
                                #name="ngModel"
                        >
                        <!-- INPUT ERROR -->
                </div>

                <div class="form-group">
                        <label for="email">Adresse e-Mail</label>
                        <input 
                                type="text"
                                class="form-control"
                                id="email" 
                                name="email" 
                                [(ngModel)]="user.email" 
                                placeholder="Entrer une adresse email" 
                                required
                                #name="ngModel"
                        >
                        <!-- INPUT ERROR -->
                </div>

                <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input 
                                type="text"
                                class="form-control"
                                id="password" 
                                name="password" 
                                [(ngModel)]="user.password"
                                required
                                #name="ngModel"
                        >
                        <!-- INPUT ERROR -->
                </div>
                <!-- <a href="#">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                </a> -->
                <p *ngIf="alertVisibility">
                        <!-- <ngb-alert [dismissible]="false">
                                Votre compte vient d'être créé ! 
                        </ngb-alert> -->
                </p>
                <div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>

                <!-- <a routerLink="/list-ingredients" class="btn btn-secondary mx-2">Se Connecter</a> -->
        </form>
</div>
