<div style="border:1px solid transparent">
    <div>
        <h3 class="title-page">Liste des recettes</h3>
    </div>
    <p *ngIf="alertVisibility">
        <ngb-alert [dismissible]="false">
            <strong>Supprimée !</strong> La recette <strong>{{ currentDelete }}</strong> a été supprimée de la liste des
            recettes :) !
        </ngb-alert>
    </p>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <div style="cursor: pointer" (click)="openModalRecipe()">
                <fa-icon [icon]="faAddressCard" size="1x" style="color:#0a2735"></fa-icon>
                <span style="text-decoration: underline;">&nbsp;&nbsp;Ajouter une recette</span>
            </div>
        </div>
    </div>
    <table class="table" style="background: white; text-align: center;margin-top:15px">
        <thead>
            <tr style=" text-align: center; color:  #0a2735;border: 0;text-transform: uppercase;">
                <th></th>
                <th>recette</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes">
                <td>
                    <img [src]="'assets/images/'+recipe.name+'.png'" class="mr-2" style="width: 32px; height: 32px;" alt="Image of the recipe">
                </td>
                <td>
                    <strong>{{recipe.name}}</strong>
                </td>
                <td>
                    <button type="button" class="btn btn-primary mr-2"
                        (click)=openModalDetailedRecipe(recipe)>Détails</button>
                    <button type="button" class="btn btn-danger mr-2"
                        (click)=deleteById(recipe.id!,recipe.name)>Supprimer</button>
                    <button type="button" class="btn btn-success"
                            (click)=addDish(recipe)>Ajouter au panier</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #recipeForm>
    <app-recipe-form></app-recipe-form>
</ng-template>

<ng-template #detailedRecipe>
    <app-detailed-recipe [recipe]="recipe"></app-detailed-recipe>
</ng-template>

<ng-template #addDishTemplate>
    <div class="row">
        <label for="ingredientQuantity"  class="col-md-9 col-xs-9 col-form-label">Nombre de personne(s)*: </label>
        <div  class="col-md-3 col-xs-3">
            <input [(ngModel)]="quantity" type="number" name="ingredientToAddQuantity" class="form-control" id="ingredientQuantity">
        </div>
    </div>
    <hr/>
    <div class="row" style="padding: 5px;">
        <div class="col-sm-10 offset-md-2 text-right">
            <button type="button" (click)="submit()" class="btn btn-primary">Confirmer l'ajout au panier</button>
        </div>
    </div>
</ng-template>