<h3>Création d'une recette</h3>

<form>
    <div class="form-group">
        <label for="recipeName">Nom de la recette</label>
        <input  [(ngModel)]="recipe.name" name="name" type="text" class="form-control" id="recipeName" placeholder="Nom de la recette">
    </div>
    <div class="recipe-add-ingredient-section">
        <div class="form-group">
            <label for="ingredientsSelect">Ajout d'un ingrédient</label>
            <select class="form-control" id="ingredientsSelect" [(ngModel)]="ingredientToAdd" name="ingredientToAdd">
                <option *ngFor="let ingredient of allIngredients " [ngValue]="ingredient">{{ingredient.name}}</option>
            </select>

        </div>
        <div class="form-group">
            <label for="ingredientQuantity">Quantité</label>
            <input [(ngModel)]="ingredientToAddQuantity" type="number" name="ingredientToAddQuantity" class="form-control" id="ingredientQuantity" placeholder="Quantité">
        </div>
        <button type="button" (click)="addIngredientToRecipe(ingredientToAdd,ingredientToAddQuantity)" class="btn btn-warning">Ajouter l'ingrédient</button>
        <ul>
            <li *ngFor="let item of ingredientsFromRecipe | keyvalue" >{{item.key}} quantité : {{item.value}}</li>
        </ul>
    </div>

    <div class="form-group">
        <label for="recipeInstructions">Instructions</label>
        <textarea [(ngModel)]="recipe.instructions" name="instructions" class="form-control" id="recipeInstructions" rows="8"></textarea>
    </div>

    <p *ngIf="alertVisibility">
        <ngb-alert [dismissible]="false">
            <strong>Ajouté !</strong> Votre recette vient d'être ajouté à la liste :)
        </ngb-alert>
    </p>
    <button type="button" (click)="onSubmit()" class="btn btn-success">Ajouter la recette!</button>
    <a routerLink="/list-recipes" class="btn btn-primary mx-2">Liste de recettes</a>
</form>
