<h3>Création d'une recette</h3>

<form>
    <div class="form-group">
        <label for="recipeName">Nom de la recette</label>
        <input  [(ngModel)]="recipe.name" name="name" type="text" class="form-control" id="recipeName" placeholder="Nom de la recette">
    </div>
    <div class="recipe-add-ingredient-section">
        <div class="form-group">
            <label for="ingredientsSelect">Ajout d'un ingrédient</label>
            <!--
            TODO Remplir les options du select avec les ingrédients de la db
            -->

            <select class="form-control" id="ingredientsSelect" [(ngModel)]="ingredientToAddId" name="ingredientToAddId">
                <option *ngFor="let ingredient of allIngredients " value="{{ingredient.id}}">{{ingredient.name}}</option>
            </select>

        </div>
        <div class="form-group">
            <label for="ingredientQuantity">Quantité</label>
            <input [(ngModel)]="ingredientToAddQuantity" type="number" name="ingredientToAddQuantity" class="form-control" id="ingredientQuantity" placeholder="Quantité">
        </div>
        <button type="button" (click)="addIngredientToRecipe(ingredientToAddId,ingredientToAddQuantity)" class="btn btn-success">Ajouter l'ingrédient</button>
        <ul>
            <li *ngFor="let item of recipe.ingredients | keyvalue " >{{item.key}} quantité : {{item.value}}</li>
        </ul>
    </div>

    <div class="form-group">
        <label for="recipeInstructions">Instructions</label>
        <textarea [(ngModel)]="recipe.instructions" name="instructions" class="form-control" id="recipeInstructions" rows="8"></textarea>
    </div>


    <button type="button" (click)="onSubmit()" class="btn btn-primary">Ajouter la recette!</button>

</form>
