<!-- <div style="min-height:120px;background: #36474f;">footer</div> -->
<div class="footer" style="min-height:120px;background: white;">
    <div class="footer-links">
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </div>
    <div class="footer-copyright">
         We can add some information here or delete this div
    </div>
</div>